<div class="footer mt-5">

    <div class="container py-4">

        <div class="row">

            <!-- Column 1 -->
            <div class="col-md-6 mb-3">
                <h5 class="fw-bold">SmartCart Admin Panel</h5>
                <p class="small">
                    Manage products, vendors, revenue, and platform
                    operations securely and efficiently.
                </p>
            </div>

            <!-- Column 2 -->
            <div class="col-md-6 mb-3 text-md-end">
                <h5 class="fw-bold">Contact Suppourt</h5>
                <p class="mb-1 small">
                    Email: support@smartcart.com
                </p>
                <p class="mb-1 small ">
                    Phone: +91 9010454869
                </p>
                <p class="small">
                    Bangalore, India
                </p>
            </div>

        </div>

    </div>

    <div class="text-center py-2 border-top small">
        © 2026 SmartCart Admin Panel | All Rights Reserved @HarishYamala
    </div>

</div>