<footer class="footer">

    <div class="footer-content">

        <div class="footer-col">
            <h3>SmartCart</h3>
            <p>
                Your trusted shopping partner with quality products,
                secure payments, and fast delivery across India.
                Explore top deals and exclusive offers.
            </p>
        </div>

        <div class="footer-col">
            <h4>Support</h4>
            <p>Email: support@smartcart.com</p>
            <p>Phone: +91 9010454869</p>
            <p>Bangalore, India</p>
        </div>

    </div>

    <div class="footer-bottom">
        © 2026 SmartCart | All Rights Reserved @HarishYamala
    </div>

</footer>